.author{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;

   h2{
      text-wrap: pretty;
   }

   .logo{
      max-width: 15rem;
      img{
         width: 100%;
      }
   }
}