@use "../ui/form";

.setting {
	width: fit-content;

	form {
		margin: 0 auto;
		max-width: 24rem;
		display: flex;
		flex-direction: column;
		gap: 1.2rem;

		.btns {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.6rem;

			span {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(1fr);
				gap: 0.6rem;

				.arg {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 0.2rem;

					label {
						font-size: 1em;
						font-weight: 500;
					}

					input {
						width: 6.4rem;
					}
				}
			}
		}
	}
}
