@use 'variables' as v;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
   min-height: 100vh;
   
   color: v.$text;
   background: v.$background;
   
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

main{
   width: 100vw;
   min-height: 100dvh;

   //animation: apper 2s;
}

#app{
   margin: 0 auto;
   width: 100%;
   max-width: 1600px;

   display: flex;
   flex-direction: column;
   gap: v.$blocks-gap;
}

a{
   text-decoration: none;
   transition: opacity 200ms;
   color: v.$text;

   &:hover{
      opacity: 0.8;
   }
}

ul, ol{
   list-style: none;
}

h1{
   font-size: 3em; /* 48px */
   font-weight: 600;
}
h2{
   font-size: 2.5em; /* 40px */
   font-weight: 600;
}
h3{
   font-size: 2em; /* 32px */
   font-weight: 600;
}
h4{
   font-size: 1.75em; /* 28px */
   font-weight: 500;
}
h5{
   font-size: 1.5em; /* 24px */
   font-weight: 500;
}
p{
   font-size: 1em; /* 16px */
}