@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  color: #222222;
  background: #EEF0F2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  padding: 4rem 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

a {
  text-decoration: none;
  transition: opacity 200ms;
  color: #222222;
}
a:hover {
  opacity: 0.8;
}

ul, ol {
  list-style: none;
}

h1 {
  font-size: 3em; /* 48px */
  font-weight: 600;
}

h2 {
  font-size: 2.5em; /* 40px */
  font-weight: 600;
}

h3 {
  font-size: 2em; /* 32px */
  font-weight: 600;
}

h4 {
  font-size: 1.75em; /* 28px */
  font-weight: 500;
}

h5 {
  font-size: 1.5em; /* 24px */
  font-weight: 500;
}

p {
  font-size: 1em; /* 16px */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.25;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  letter-spacing: 1px;
}

input[type=number] {
  padding: 0.4rem 0.6rem;
  width: 100%;
  outline: none;
  border: 0.1rem solid transparent;
  border-radius: 0.7rem;
  color: #222222;
  text-align: center;
  position: relative;
}
input[type=number]:focus {
  border: 0.1rem solid #6e9a85;
}
input[type=number]::before {
  position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  width: 2rem;
  height: 2rem;
  content: "T:";
}

button {
  width: 100%;
  padding: 0.6rem 1rem;
  background-color: #6e9a85;
  font-size: 0.9em;
  font-weight: 600;
  color: #EEF0F2;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: 400ms;
}
button:hover {
  opacity: 0.8;
}

.setting {
  width: fit-content;
}
.setting form {
  margin: 0 auto;
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.setting form .btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.setting form .btns span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.chart {
  width: 100%;
  display: none;
}

.contentBlock {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
@media screen and (max-width: 1000px) {
  .contentBlock {
    flex-direction: column;
  }
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.author h2 {
  text-wrap: pretty;
}
.author .logo {
  max-width: 15rem;
}
.author .logo img {
  width: 100%;
}
