@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  color: #141414;
  background: #EEF0F2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

a {
  text-decoration: none;
  transition: opacity 200ms;
  color: #141414;
}
a:hover {
  opacity: 0.8;
}

ul, ol {
  list-style: none;
}

h1 {
  font-size: 3em; /* 48px */
  font-weight: 600;
}

h2 {
  font-size: 2.5em; /* 40px */
  font-weight: 600;
}

h3 {
  font-size: 2em; /* 32px */
  font-weight: 600;
}

h4 {
  font-size: 1.75em; /* 28px */
  font-weight: 500;
}

h5 {
  font-size: 1.5em; /* 24px */
  font-weight: 500;
}

p {
  font-size: 1em; /* 16px */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.25;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 280px) {
  html {
    word-break: break-all;
  }
}
.chart {
  width: 80%;
  margin: 0 auto;
}
